@charset "UTF-8";

// -------------------------------------------------------------
// project main css
// -------------------------------------------------------------

// import library setting + mixin + function
@use "./libs/asset";

// output common classes + reset
@use "./libs/output";

// font link
// 読み込むと `index.scss` からのパスになる、記述に注意すること
// use / import どちらでも可能 - 推奨 `use`
// scss ファイル 推奨
@use "../font/fonts.css";
@forward "__modal/micromodal";

// -------------------------------------------------------------
// project 設定
// -------------------------------------------------------------
body {
  @include asset.font-smoothing-rendering;

  margin: 100px 20px;
}

// title
h1 {
  &.title {
    margin: 100px 0 50px;
    font-family: TTBold, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}

.movie-btn {
  button {
    @include asset.reset-form;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    background: darkcyan;
    border-radius: 100vh;
  }
}

.poster-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: orange;
  border-radius: 100vh;
}

.toggle-poster-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  pointer-events: none;
  background: grey;
  border-radius: 100vh;

  &.active {
    pointer-events: all;
    cursor: pointer;
    background: orange;
  }
}

// -------------------------------------------------------------
// desktop
@include asset.desktop {
  .movie {
    width: 100%;
    max-width: 560px;
    height: calc(50vw * 0.75);
    max-height: 315px;

    iframe {
      width: 100%;
    }
  }

  .modal__container {
    .movie {
      width: 100%;
      max-width: 940px;
      height: calc(50vw * 0.75);
      max-height: 560px;
    }
  }
}

// -------------------------------------------------------------
// mobile
@include asset.mobile {
  .movie {
    width: 100%;

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .modal__container {
    .movie {
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}
